html, body {
    height: 100%;
}

body {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    --color-bg-default: rgba(238,240,245,1);
    --color-shadow: 12,13,18;
    --color-light: 255, 255, 255;
    background-color: var(--color-bg-default);
    font-family: sans-serif;

}

#playButtons {
    
    width: 2000px;
    height: 150px;
    display: flex ;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: flex-start;
    margin-left: 600px;
    margin-top: 100px;
}

#functButtons {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}